* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 000000
ffffff
fe0002
3ac6f9
ad0001 */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(1fr, 6);
  height: 100dvh;
  width: 100dvw;
}

.sectionContainer {
  /* background-color: rgb(68, 67, 67); */
  /* border: solid 1px white; */
  border: solid 1px rgb(26, 26, 26);
  padding: 10px;
}

.sidebarWrapper {
  grid-row: 1/7;
}

.mainContent {
  display: grid;
  height: 100dvh;
  grid-template-rows: 0.5fr 10fr 0.5fr;
}

.logo {
  margin-top: 20px;
  height: 100px;
  width: 90%;
  align-items: center;
  background-image: url("../public/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  place-content: center;
  text-align: center;
}

.menu {
  display: grid;
  /* text-align: center; */
  height: 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-size: large;
}

.menuLinks {
  display: grid;
  grid-template-columns: 1fr 5fr;
  text-align: left;
  align-content: center;
  width: auto;
  height: 100%;
  padding-left: 50px;
  background-color: rgb(11, 11, 11);
  border: solid 1px rgb(26, 26, 26);
}

.menuLinks:hover {
  background: rgb(30, 29, 29);
  cursor: pointer;
}

.menuLinks:visited {
  background: rgb(30, 29, 29);
  cursor: pointer;
}

.icon {
  font-size: x-large;
}

.canvassWrapper {
  font-size: xx-large;
}

.incomeWrapper {
  text-align: center;
  padding: 20px;
  background-color: rgb(11, 11, 11);
}

.incomeHeader {
  margin-bottom: 20px;
}

.incomeContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.incomeContent input,
.incomeContent select {
  text-align: center;
  font-size: large;
  padding: 5px;
}

.addIncome {
  display: grid;
  grid-column: 1/5;
  width: 25%;
  height: 50px;
  justify-self: center;
  place-items: center;
  background-color: rgb(122, 8, 8);
  border: none;
  font-size: large;
  color: white;
}

.addIncome:hover {
  background-color: rgb(155, 8, 8);
  cursor: pointer;
}

/* INCOME TABLE SECTION */
.tableWrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: 550px;
  overflow-y: scroll;
  font-size: small;
  margin-top: 10px;
  padding: 5px;
}

.incomeTable {
  border-spacing: 0cap;
  height: 10px;
}

.incomeTable tr th {
  border-spacing: 0cap;
  width: 20%;
  padding: 5px;
  border: solid 1px rgb(48, 47, 47);
  background-color: rgb(0, 0, 0);
}

.incomeTable tr td {
  border-spacing: 0cap;
  width: 20%;
  padding: 3px;
  border: solid 1px rgb(65, 65, 65);
  background-color: rgb(26, 26, 26);
}

.errorPlateNumber {
  display: grid;
  grid-column: 2/3;
}

.errorPrice {
  display: grid;
  grid-column: 4/5;
}

.errorPlateNumber,
.errorPrice {
  font-size: small;
  /* color: rgb(122, 8, 8); */
  color: white;
}

.incomeTableBody {
  height: 50px;
}

.actionsIcon {
  padding: 10px;
  font-size: large;
  background-color: rgb(80, 78, 78);
}

/* .actions:hover {
  cursor: pointer;
} */
