* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 000000
ffffff
fe0002
3ac6f9
ad0001 */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(1fr, 6);
  height: 100dvh;
  width: 100dvw;
}

.sectionContainer {
  /* background-color: rgb(68, 67, 67); */
  /* border: solid 1px white; */
  border: solid 1px rgb(26, 26, 26);
  padding: 10px;
}

.sidebarWrapper {
  grid-row: 1/7;
}

.mainContent {
  display: grid;
  height: 100dvh;
  grid-template-rows: 0.5fr 10fr 0.5fr;
}

.logo {
  margin-top: 20px;
  height: 100px;
  width: 90%;
  align-items: center;
  background-image: url("../public/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  place-content: center;
  text-align: center;
}

.menu {
  display: grid;
  /* text-align: center; */
  height: 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-size: large;
}

.menuLinks {
  display: grid;
  grid-template-columns: 1fr 5fr;
  text-align: left;
  align-content: center;
  width: auto;
  height: 100%;
  padding-left: 50px;
  background-color: rgb(11, 11, 11);
  border: solid 1px rgb(26, 26, 26);
}

.menuLinks:hover {
  background: rgb(30, 29, 29);
  cursor: pointer;
}

.menuLinks:visited {
  background: rgb(30, 29, 29);
  cursor: pointer;
}

.icon {
  font-size: x-large;
}

.canvassWrapper {
  font-size: xx-large;
}

.incomeWrapper,
.expensesWrapper {
  text-align: center;
  padding: 20px;
  background-color: rgb(11, 11, 11);
}

.incomeHeader {
  margin-bottom: 20px;
}

.incomeContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.expensesContent,
.requiredWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.incomeContent input,
.incomeContent select,
.expensesContent input,
.expensesContent select,
.filterSales {
  text-align: center;
  font-size: large;
  padding: 5px;
}

.addIncome {
  display: grid;
  grid-column: 1/6;
  width: 25%;
  height: 50px;
  justify-self: center;
  place-items: center;
  background-color: rgb(122, 8, 8);
  border: none;
  font-size: large;
  color: white;
}

.addExpenses {
  display: grid;
  grid-column: 1/4;
  width: 25%;
  height: 50px;
  justify-self: center;
  place-items: center;
  background-color: rgb(122, 8, 8);
  border: none;
  font-size: large;
  color: white;
}

.addIncome:hover,
.actionsIcon:hover,
.addExpenses:hover {
  background-color: rgb(155, 8, 8);
  cursor: pointer;
}

/* INCOME TABLE SECTION */
.tableWrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: 550px;
  overflow-y: scroll;
  font-size: small;
  margin-top: 10px;
  padding: 5px;
}

.incomeTable,
.expensesTable {
  border-spacing: 0cap;
  height: 10px;
}

.incomeTable tr th,
.expensesTable tr th {
  border-spacing: 0cap;
  width: 20%;
  padding: 5px;
  border: solid 1px rgb(48, 47, 47);
  background-color: rgb(0, 0, 0);
}

.incomeTable tr td,
.expensesTable tr td {
  border-spacing: 0cap;
  width: 10%;
  padding: 5px;
  border: solid 1px rgb(65, 65, 65);
  background-color: rgb(26, 26, 26);
}

.expensesTable td,
.expensesTable th {
  width: 10% !important;
  word-break: break-all;
}
/* required errors */
.errorDate {
  display: grid;
  grid-column: 1/2;
}

.errorPlateNumber {
  display: grid;
  grid-column: 3/4;
}

.errorPrice {
  display: grid;
  grid-column: 5/6;
}

.errorPlateNumber,
.errorPrice,
.errorDate {
  font-size: small;
  /* color: rgb(122, 8, 8); */
  color: white;
}

.incomeTableBody,
.expensesTableBody {
  height: 35px;
}

.actionsIcon {
  padding: 5px;
  font-size: small;
  font-weight: 500;
  background-color: rgb(122, 8, 8);
}

.toaster {
  font-size: large;
  width: 200px;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(11, 11, 11) !important;
  border: solid 1px rgb(65, 65, 65) !important;
  padding: "16px";
}

input.date {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.mop {
  grid-column: 2/3;
}

.addExpenses {
  grid-column: 2/3;
  width: 100%;
}

.expErrWrapper {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: small;
}

.orNumber::-webkit-outer-spin-button,
.orNumber::-webkit-inner-spin-button,
.orNumber[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.dateRequired,
.payorRequired {
  grid-column: 1/2;
}

.orNumberRequired,
.particularsRequired,
.mopRequired {
  grid-column: 2/3;
}

.agencyRequired,
.amountRequired {
  grid-column: 3/4;
}

.mopRequired {
  grid-column: 2/3;
}

.reportContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 20px;
  background-color: rgb(11, 11, 11);
  place-items: center;
  text-align: center;
  font-size: large;
}

.barGraph {
  color: white !important;
  padding: 30px;
  width: 80%;
  height: 50%;
  border: solid 1px rgb(26, 26, 26);
  background-color: black;
}
/*----tooltip-----*/

.custom-tooltip {
  font-size: small;
  background-color: black;
  border: solid 1px gray;
  padding: 10px;
  width: 100px;
}

.desc {
  word-break: break-all;
}

/*-----------------Report--------------------------*/
.reportWrapper {
  display: grid;
  height: 100dvh;
  width: 100%;
  grid-template-rows: 1fr 10fr;
  text-align: center;
}

.monthlySalesWrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
  gap: 10px;
}

.monthlySales {
  margin: auto;
  width: 90%;
  align-content: center;
  background-color: rgb(122, 8, 8);
  border: solid 2px rgb(0, 0, 0);
  padding: 10px 0px 10px 0px;
}

.monthlySales:hover {
  background-color: rgb(65, 4, 4);
  border: solid 2px rgb(255, 255, 255);
  cursor: pointer;
}

.monthlyExpenses {
  margin: auto;
  width: 90%;
  align-content: center;
  background-color: rgb(2, 66, 31);
  border: solid 2px rgb(0, 0, 0);
  padding: 10px 0px 10px 0px;
}

.monthlyExpenses:hover {
  background-color: rgb(4, 97, 39);
  border: solid 2px rgb(255, 255, 255);
  cursor: pointer;
}

.filterSales {
  display: grid;
  width: 25%;
  text-align: center;
  margin: auto;
}
